body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffcdb2;
  margin: 0;
  padding: 0;
  background-image: url(batter.jpg); 
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  width: 300px;
  background: #ffb4a2;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url(pink.jpg);

}

input {
  width: 80%;
  padding: 8px;
  margin: 10px 0;
}

button {
  background-color: #e5989b;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #ffcdb2;
}

.done-btn {
  background-color: #e5989b;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.done-btn:hover {
  background: #ffcdb2(196, 10, 196);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #e5989b;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  color: black;
  border: none;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #ffcdb2;
}
